{% extends "base_no_cart.html" %}
{% load staticfiles %}
{% block title %}天天生鲜-购物车{% endblock title %}
{% block page_title %}购物车{% endblock page_title %}

{% block body %}

	<div class="total_count">全部商品<em>{{ goods_amount }}</em>件</div>
	<ul class="cart_list_th clearfix">
		<li class="col01">商品名称</li>
		<li class="col02">商品单位</li>
		<li class="col03">商品价格</li>
		<li class="col04">数量</li>
		<li class="col05">小计</li>
		<li class="col06">操作</li>
	</ul>
    <form action="/order/place" method="post">
        {% csrf_token %}
        {% for sku in skus %}
        <ul class="cart_list_td clearfix">
            <li class="col01"><input type="checkbox" name="sku_id" value="{{ sku.id }}" checked></li>
            <li class="col02"><a href="{% url 'goods:detail' sku.id %}"><img src="{{ sku.image.url }}"></a></li>
            <li class="col03">
                <a href="{% url 'goods:detail' sku.id %} " style="color: #666;">
                    {{ sku.name }}<br>
                    <em>{{ sku.price }}/{{ sku.unite }}</em>
                </a>
            </li>
            <li class="col04">{{ sku.unite }}</li>
            <li class="col05">{{ sku.price }}元</li>
            <li class="col06">
                <div class="num_add">
                    <a href="javascript:;" class="add fl">+</a>
                    <input type="text" class="num_show fl" value="{{ sku.count }}" sku_id="{{ sku.id }}">
                    <a href="javascript:;" class="minus fl">-</a>
                </div>
            </li>
            <li class="col07">{{ sku.amount }}元</li>
            <li class="col08"><a href="javascript:;">删除</a></li>
        </ul>
        {% endfor %}
        <ul class="settlements">
            <li class="col01"><input type="checkbox" name="" checked=""></li>
            <li class="col02">全选</li>
            <li class="col03">合计(不含运费)：
                <span>¥</span><em>{{ goods_amount_price|floatformat:2}}</em><br>共计<b>{{ goods_amount }}</b>件商品
            </li>
            <li class="col04"><input type="submit" value="去结算"></li>
        </ul>
    </form>

{% endblock body %}
{% block bottomfiles %}
    <script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
    <script>
        let settlements = $(".settlements")
        let cart_list_td = $(".cart_list_td")
        let total_count = $(".total_count").children("em")
        let csrf_token = $("input[name='csrfmiddlewaretoken']").val()

        function check_checkboxes() {
            // 检查全选复选框是否需要选中
            let all_nums = cart_list_td.length;
            let checked_nums = cart_list_td.find(":checked").length;
            let is_checked = false;
            if(all_nums === checked_nums) is_checked = true;
            settlements.find(":checkbox").prop("checked", is_checked);
            update_info();
        }

        function update_info(){
            // 更新商品总价格,总价数
            let total_price = 0;
            let total_num = 0;
            cart_list_td.find(":checked").parents("ul").each(function(){
                total_price += parseFloat($(this).children(".col07").text());
                total_num += parseInt($(this).find(".num_show").val())
            });
            settlements.find("em").text(total_price.toFixed(2));
            settlements.find("b").text(total_num);
        }

        function input_num(good_input_object){
            // 直接从输入框中更新商品的数目
            let count = parseInt(good_input_object.val());
            if(isNaN(count) || count<=0){
                good_input_object.val(prev_count);
                return
            }
            if(count !== prev_count)
                update_cart_num(good_input_object, count, true);
        }

        function update_cart_num(good_input_object, count, direct_input=false){
            // 更新指定商品的购物车数目
            let paras = {
                sku_id: good_input_object.attr("sku_id"),
                count: count,
                csrfmiddlewaretoken: csrf_token,
            };
            $.post("{% url 'cart:update_cart' %}", paras, function(data){
                if(!data.res){
                    // 更新成功
                    // 更新全部商品的数目
                    total_count.text(data.goods_num);
                    // 更新当前商品的数目和小计
                    good_input_object.val(parseInt(count));
                    let price = good_input_object.parents("li").siblings(".col05").text();
                    let total_price = parseFloat(price) * parseInt(count);
                    good_input_object.parents("li").siblings(".col07").text(total_price.toFixed(2) + "元");

                    // 判断是否需要更新总价格
                    let is_checked = good_input_object.parents("ul").find(":checkbox").prop("checked");
                    if (is_checked){
                        update_info();
                    }

                    // 更新 prev_count
                    prev_count = good_input_object.val();
                }
                else{
                    alert(data.error_msg);
                    // 如果是直接输入商品数目，则更新失败后将其值设为之前的值
                    if (direct_input){
                        good_input_object.val(prev_count)
                    }
                }
            });
        }

        // 商品的全选框改变状态时执行相应的操作
        settlements.find(":checkbox").change(function () {
            let is_checked = $(this).prop("checked");
            cart_list_td.find(":checkbox").each(function () {
                $(this).prop("checked", is_checked);
                update_info();
            })
        });

        // 商品对应的 checkbox 状态发生改变时，需要修改全选框的状态
        cart_list_td.find(":checkbox").change(function () {
            check_checkboxes();
        });

        // 点击增加商品
        $(".add").click(function () {
            let good_input_object = $(this).next();
            let count = good_input_object.val();

            count = parseInt(count) + 1;
            update_cart_num(good_input_object, count);
        });

        // 点击减少商品
        $(".minus").click(function () {
            let good_input_object = $(this).prev();
            let count = parseInt(good_input_object.val()) - 1;

            if(count <= 0)
                count = 1;
            else
                update_cart_num(good_input_object, count);
        });

        // 保存修改前商品的数目
        let prev_count = 0;
        $(".num_show").focus(function () {
            prev_count = $(this).val();
        });

        // 直接输入商品的数目
        $(".num_show").blur(function () {
            // 输入框失去集点后后触发
            input_num($(this))
        });

       $(".num_show").keydown(function(event){
           // 输入框中按下回车键触发
            if( event.keyCode === 13 ){
                input_num($(this))
                return false;
            }
        });

        // 删除购物车中的商品
        $(".col08").children('a').click(function(){
            let sku_ul = $(this).parents('ul')
            let sku_id = sku_ul.find(".num_show").attr("sku_id");
            let paras = {
                sku_id: sku_id,
                csrfmiddlewaretoken: csrf_token,
            };
            $.post("{% url 'cart:delete_cart' %}", paras, function(data){
                if(!data.res){
                    // 删除成功
                    sku_ul.remove();
                    // 更新商品列表对应的元素
                    cart_list_td = $(".cart_list_td")
                    // 更新全部商品的数目
                    total_count.text(data.goods_num);
                    // 判断是否需要更新商品总价
                    if (sku_ul.find(":checkbox").prop("checked")){
                        update_info();
                    }
                    else{
                        // 检查全选状态
                        check_checkboxes();
                    }
                }
                else{
                    alert(data.error_msg)
                }
            });
        });

    </script>
{% endblock bottomfiles %}


