{% extends "base_detal_list.html" %}
{% load staticfiles %}
{% block title %}天天生鲜-商品详情{% endblock %}

{% block main_content %}
	<div class="breadcrumb">
		<a href="{% url 'goods:list' 0 1 %}">全部分类</a>
		<span>></span>
		<a href="{% url 'goods:list' sku.type.id 1%}">{{ sku.type.name }}</a>
		<span>></span>
		<a href="#">商品详情</a>
	</div>

	<div class="goods_detail_con clearfix">
		<div class="goods_detail_pic fl"><img src="{{ sku.image.url }} " style="max-width: 100%"></div>

		<div class="goods_detail_list fr">
			<h3>{{ sku.goods.name }}</h3>
			<p>{{ sku.desc }}</p>
			<div class="prize_bar">
				<span class="show_price">价 格：¥<em>{{ sku.price }}</em></span>
				<span class="show_unit">单  位：{{ sku.unite }}</span>
			</div>
			<div class="goods_num clearfix">
				<div class="num_name fl">数 量：</div>
				<div class="num_add fl">
					<input type="text" class="num_show fl" value="1">
					<a href="javascript:" class="add fr">+</a>
					<a href="javascript:" class="minus fr">-</a>
				</div>
            {% if same_spus|length > 0 %}
                <div style="font:normal 14px/52px 'Microsoft Yahei';" >
                    <span>&nbsp;&nbsp;&nbsp;其它规格商品:&nbsp;&nbsp;&nbsp;</span>
                    {% for same_spu in same_spus %}
                        <a href="{% url 'goods:detail' same_spu.id %}">{{ same_spu.name }}</a>
                    {% endfor %}
                </div>
			</div>
            {% endif %}
			<div class="total">总价：<em>{{ sku.price }}</em></div>
			<div class="operate_btn">
                {# <a href="javascript:;" class="buy_btn">立即购买</a>#}
				<a href="javascript:;" class="add_cart" id="add_cart" sku_id="{{ sku.id }}">加入购物车</a>
                {% csrf_token %}
			</div>
		</div>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
                    {% for sku in new_skus %}
                    <li>
						<a href="{% url 'goods:detail' sku.id %}"><img src="{{ sku.image.url }}"></a>
						<h4><a href="{% url 'goods:detail' sku.id %}">{{ sku.goods.name }}</a></h4>
						<div class="prize">￥{{ sku.price }}</div>
					</li>
                    {% endfor %}
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<ul class="detail_tab clearfix">
				<li class="active" id="tag_detail">商品介绍</li>
				<li id="tag_comment">评论</li>
			</ul>

			<div class="tab_content" id="tab_detail">
				<dl>
					<dt>商品详情：</dt>
					<dd>{{ sku.goods.detail|safe }}</dd>
				</dl>
			</div>

            <div class="tab_content" id="tab_comment" style="display: none;">
                <dl>
                    {% for sku_order in sku_orders %}
                        <dt>评论时间：{{ sku_order.update_time }} &nbsp;&nbsp;用户:{{ sku_order.order.user.username }}</dt>
                        <dd>{{ sku_order.comment }}</dd>
                        {% empty %}
                            <span style="text-align:center;display: block;margin: 20px auto;">暂无评论</span>
                    {% endfor %}
                </dl>
            </div>

		</div>
	</div>
{% endblock main_content %}
{% block bottom %}
	<div class="add_jump"></div>
{% endblock bottom %}
{% block bottomfiles %}
	<script type="text/javascript" src={% static "js/jquery-1.12.4.min.js" %}></script>
	<script type="text/javascript">
        update_total_price();

        function update_total_price(){
            let price = $('.show_price').children('em').text();
            let count = $('.num_show').val();
            let total_price = parseFloat(price) * parseInt(count);

            $(".total").children('em').text("￥" + total_price.toFixed(2))
        }


        $('#add_cart').click(function () {
            {#发动 ajax 请求,添加购物车#}
            {#获取商品的 sku_id 和 添加数目 以及 csrf_token#}
            let post_data = {
                sku_id: $(this).attr("sku_id"),
                count: $('.num_show').val(),
                csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val(),
            };
            $.post("{% url 'cart:add_cart' %}", post_data, function(data){
                 /** @namespace data.res **/
                 /** @namespace data.error_msg **/
                 /** @namespace data.goods_num **/
                if(data.res){
                    // 添加购物车错误， 显示错误信息
                    alert(data.error_msg)
                }
                else{
                    // 添加购物车成功，显示相应的动画界面

                    //　获取　add_cart 元素左上角的坐标
                    let $add_x = $('#add_cart').offset().top;
                    let $add_y = $('#add_cart').offset().left;
                    //　获取　show_count 元素左上角的坐标
                    let $to_x = $('#show_count').offset().top;
                    let $to_y = $('#show_count').offset().left;
                    {#购物车添加动画#}
                    $(".add_jump").css({'left':$add_y+80,'top':$add_x+10,'display':'block'});
                    $(".add_jump").stop().animate({
                                'left': $to_y+7,
                                'top': $to_x+7},
                                'fast',
                                function() {
                                $(".add_jump").fadeOut('fast',function(){
                                    {#更新购物车的数目#}
                                    $('#show_count').html(data.goods_num);
                                });
                            });
                }
            });
        });
        {# todo 可以考虑添加商品库存的限制　#}
        $(".add").click(function(){
            let count = $('.num_show').val();
            count = parseInt(count) + 1;
            $('.num_show').val(count);
            update_total_price();
        });

        $(".minus").click(function(){
            let count = $('.num_show').val();
            count = parseInt(count) - 1;
            if(count <= 0) count = 1;
            $('.num_show').val(count);
            update_total_price();
        });

        function get_num_show(obj){
        {# 获取输入框中的数字　#}
            let count = parseInt($(obj).val())
            {#  检验输入是否可法  #}
            if( isNaN(count) || count<=0) count = 1;
            $(obj).val(count);
            update_total_price();
        }

        {# 失去焦点时更新　#}
        $(".num_show").blur(function () {
            get_num_show(this);
        });

        {# 按回车键时更新　#}
        $(".num_show").keypress(function (event) {
            if(event.keyCode == "13")
            {
                get_num_show(this);
            }
        });

        $("#tag_comment").click(function(){
            $("#tag_detail").removeClass("active");
            $(this).addClass("active");
            $("#tab_comment").show();
            $("#tab_detail").hide();
        });

        $("#tag_detail").click(function(){
            $("#tag_comment").removeClass("active");
            $(this).addClass("active");
            $("#tab_detail").show();
            $("#tab_comment").hide();
        });
    </script>
{% endblock bottomfiles %}
